{% extends "base.html" %}
{% block content %}
<form style="width:40% ;padding-left: 80px;" method="post">
    <h1>welcome to your profile</h1>
    <br />
    {% csrf_token %}
    <h4>{{ form.as_p }}</h4>
    <h5>Write to update your Profile and click the Edit button</h5>
    <button class="btn btn-warning m-4">Edit Now</button>
</form>
<hr>

<h1>This is Book Borrow buy history</h1>


{% for B in Bookall %}
<table class="table caption-top text-light">
    <caption>List of users</caption>
    <thead>
        <tr>

            <th scope="col">Borrow Time</th>
            <th scope="col">Book Name</th>
            <th scope="col">Borrow price</th>
            <th scope="col">borrow category</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>{{B.purchese_date}}</td>
            <td>{{B.Book_name.Book_name}}</td>
            <td>{{B.Book_name.Borrow_price}}</td>
            <td>{{B.Book_name.category}}y</td>
        </tr>
    </tbody>
</table>
{% endfor %}
{% endblock %}