<!-- index.html -->
{% extends "base.html" %}
{% block content %}
<div>
  <h1 style="text-align: center; color: white;">Welcome to My Library</h1>
  <hr>
  <div class="">
    <h2 style="text-align: center; color: white;">Categorys Name</h2>
    <ul class="d-flex justify-content-center align-items-center list-unstyled pt-4">
      {% for category in categorys %}
      <li class="mx-2">
        <a class="btn btn-outline-info m-2 text-decoration-none text-light" href="{% url 'category_wise_book' category.slug %}">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <h3>{{ book | length }} book found</h3>
  <div class="row">
    {% for post in book %}
    <div class="col-4 p-5 h-100 shadow-sm" style="height: 20%;">
      <img src="{{ post.Book_image.url }}" class="card-img-top" alt="Book_Image" style="height: 350px;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Book Name: {{ post.Book_name }}</li>
        <li class="list-group-item">Description: {{ post.Book_description }}</li>
        <li class="list-group-item">Borrow Price: {{ post.Borrow_price }} $</li>
        <li class="list-group-item">Category Name: {{ post.category }}</li>
        <li class="list-group-item">Book Quantity: {{ post.Quantity }}</li>
      </ul>
      <div class="p-3">
        <a href="{% url 'book_detail' post.id %}" class="btn btn-outline-warning" type="button">
          View Details
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
