<!-- index.html -->
{% extends "base.html" %}
{% block content %}
<div>
  <h1 style="text-align: center; color: white;">Welcome to My Library</h1>
  <hr>

  <div class="dropdown "style="text-align: center;size = 30%">
    <button class="btn btn-danger btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown Categorys below
    </button>
    <ul class="dropdown-menu bg-dark">
      {% for category in categorys %}
      <li class="mx-2 ">
        <a class="btn btn-outline-info m-2 text-decoration-none text-light"
          href="{% url 'category_wise_book' category.slug %}">{{ category.name }}</a>
      </li>
      <li class="mx-2 ">
      </li>
      {% endfor %}
    </ul>
  </div>



  <h3>{{ book | length }} book found</h3>
  <div class="">
    {% for post in book %}
    <div class="d-plax col-4 p-5 h-100 shadow-lg bg-dark" style="height: 20%;">
      <img src="{{ post.Book_image.url }}" class="card-img-top" alt="Book_Image" style="height: 350px;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Book Name: {{ post.Book_name }}</li>
        <li class="list-group-item">Description: {{ post.Book_description }}</li>
        <li class="list-group-item">Borrow Price: {{ post.Borrow_price }} $</li>
        <li class="list-group-item">Category Name: {{ post.category }}</li>
        <li class="list-group-item">Book Quantity: {{ post.Quantity }}</li>
      </ul>
      <div class="pt-4 mx-5">
        <a href="{% url 'book_detail' post.id %}" class="btn btn-outline-success" type="button">
          View Details
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}